<div data-ng-controller="application.controller.list">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span6">
					<h3>Subjects</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div subject-list data-limit="{{listParams.limit}}" data-order-string="{{listParams.orderString}}" data-offset="{{listParams.offset}}" data-where-string="{{listParams.whereString}}" data-sort-filter="true">Loading subjects...</div>
				</div>
			</div>
		</div>
	</div>
</div>