<style>

.modifiable-label {
	float:left;
	/*background-color: #f5f5f5;*/
	background-color: white;
	border: 1px solid #e3e3e3;
	padding:2px;
	padding-left:4px;
	margin-left: 3px;
}
.modifiable-label:first-child {
	margin-left: 0px;
}

</style>

<div>
	<div style="overflow:auto;" class="well well-small">
		<div class="modifiable-label">
			<span data-ng-hide="sort.sortingByColumns">(No particular order)</span>
			<span data-ng-show="sort.sortingByColumns">Sorting by: </span>
		</div>
		<div class="modifiable-label" data-ng-repeat="column in sort.sortingByColumns">
			{{column.label}} 
			<span class="icon icon-remove" data-ng-click="sort.remove(column.id)"></span>
		</div>
	</div>
	<div style="overflow:auto;" class="well well-small">
		<div class="modifiable-label">
			<span data-ng-show="sort.unusedColumns">Click to sort by: </span>
			<span data-ng-hide="sort.unusedColumns">All columns are in use</span>
		</div>
		<div class="modifiable-label" data-ng-repeat="column in sort.unusedColumns">
			{{column.label}} 
			<span class="icon icon-plus" data-ng-click="sort.add(column.id)"></span>
		</div>
	</div>
</div>