<div>
	<div data-ng-show="{{showSortFilter}}">
		The order options need to be taken from the back-end. That includes labels and current order connected together.
		<div list-options-sort-filter name="{{sortFilterName}}" columns="{{columns.all}}" current="{{columns.current}}">(Loading...)</div>
		<button class="btn" type="button" data-ng-click="update()"><span class="icon icon-refresh"></span></button>
	</div>
	<div data-ng-show="loading && firstLoading">Loading subjects...</div>
	<ul class="subject-list">
		<li data-ng-repeat="subject in subjectList">
			<div class="subject-list-inner">
				<div class="left">
					<div subject-score-icon range="255" subject="{{subject}}"></div>
				</div>
				<div class="left">
					<a href="#/subject/{{subject.id}}/">{{subject.label}}</a>
				</div>
			</div>
			<div style="clear:both;"></div>
		</li>
		<li class="preloader" data-ng-show="loading"></li>
	</ul>
</div>
