<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'db' => array(
        'username' => 'root',
        'password' => 'donotmesswithmydatabase',
    ),
    'pm' => array(
	'fetch-trigger' => '53779123151dd238e43e2b1015756944',
	'username' => 'greg',
	'password' => 'chocolatedoughnuts',
	//'url' => 'http://salesprocess.gointeractive.biz/sysworkflow/en/green/services/wsdl2',
	'wsdl-path' => '/sysworkflow/en/green/services/wsdl2',
	'domain' => 'salesprocess.gointeractive.biz',
	'http-path' => '/sysworkflow/en/classic/setup/main',
	'session-argument' => 'sid',
    ),
);

?>
